.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
  padding: 40px;
}
.heading {
  color: #2d3a35;
  font-weight: 500;
  font-size: 45px;
}
.count {
  color: #c20a72;
  font-weight: 500;
}
.description {
  color: #2d3a35;
}
.button-container {
  text-align: center;
}
.button {
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  text-align: center;
  padding: 5px;
}
